FLAVOR=dev
FLUTTER_BUILD_NAME=1.0.0
FLUTTER_BUILD_NUMBER_IOS=1
FLUTTER_BUILD_NUMBER_ANDROID=1
IOS_APP_ID=6478430687
IOS_DEVELOPMENT_TEAM=89T7SNPXPX
BUNDLE_ID=com.aarontech.boilerplate.dev
DISPLAY_NAME=AT Boilerplate DEV
APP_ICON=AppIcon-dev
BASE_URL=https://server-dev.io.vn
FLUTTER_WEB_CANVASKIT_URL=https://www.gstatic.com/flutter-canvaskit/55eae6864b296dd9f43b2cc7577ec256e5c32a8d/
